@model WebApp.ViewModels.RegisterModel
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/Register/style.css" />
<div class="p-x-1 p-y-3">
    <form method="post" class="card card-block m-x-auto bg-faded form-width">
        <legend class="m-b-1 text-xs-center">Welcome to WebApp</legend>
        <div class="form-group input-group">
            <span class="has-float-label">
                <input class="form-control" id="first" type="text" placeholder="Name" name="Name"/>
                <label for="first">Name</label>
            </span>
            <span class="has-float-label">
                <input class="form-control" id="last" type="text" placeholder="Last Name" name="LastName"/>
                <label for="last">Last Name</label>
            </span>
        </div>
        <div class="form-group input-group">
            <span class="has-float-label">
                <input class="form-control" id="email" type="email" placeholder="name@example.com" name="Email"/>
                <label for="email">E-mail</label>
            </span>
        </div>
        <div class="form-group input-group">
            <span class="has-float-label">
                <input class="form-control" id="password" type="password" placeholder="Password" name="Password"/>
                <label for="password">Password</label>
            </span>
        </div>
        <div class="form-group input-group">
            <span class="has-float-label">
                <input class="form-control" type="password" placeholder="Confirm" name="ConfirmPassword"/>
                <label for="password">Confirm</label>
            </span>
        </div>
        <div class="text-xs-center">
            <button class="btn btn-block btn-primary button-width" type="submit">Sign Up</button>
        </div>
    </form>
</div>